In [20]:
strategies=['Rock','Paper','Scissors','Lizard','Spock']

In [21]:
payoff={('Scissors','Paper'):(1,0),('Paper','Scissors'):(0,1),
        ('Paper','Rock'):(1,0),('Rock','Paper'):(0,1),
        ('Rock','Lizard'):(1,0),('Lizard','Rock'):(0,1),
        ('Lizard','Spock'):(1,0),('Spock','Lizard'):(0,1),
        ('Spock','Scissors'):(1,0),('Scissors','Spock'):(0,1),
        ('Scissors','Lizard'):(1,0),('Lizard','Scissors'):(0,1),
        ('Lizard','Paper'):(1,0),('Paper', 'Lizard'):(0,1),
        ('Paper','Spock'):(1,0),('Spock','Paper'):(0,1),
        ('Spock','Rock'):(1,0),('Rock','Spock'):(0,1),
        ('Rock','Scissors'):(1,0),('Scissors','Rock'):(0,1),
       ('Scissors','Scissors'):(0,0),
       ('Paper','Paper'):(0,0),
       ('Rock','Rock'):(0,0),
       ('Lizard','Lizard'):(0,0),
       ('Spock','Spock'):(0,0)}

In [22]:
Players=[{'name':'John','score':0,'strategy':None},
         {'name':'Mary','score':0,'strategy':None}]

In [23]:
from random import choice

#simples: choose randomly
choice(strategies)

'Rock'

In [24]:
#Players makes a choice
Players[0]['strategy']=choice(strategies)
Players[1]['strategy']=choice(strategies)

In [25]:
# current decision
Players[0]['strategy'],Players[1]['strategy']

('Scissors', 'Spock')

In [26]:
# social result of individual decision
result = payoff[Players[0]['strategy'],Players[1]['strategy']]
result

(0, 1)

In [27]:
# update agents situation
Players[0]['score']+=result[0]
Players[1]['score']+=result[1]

In [28]:
# current agent situation
Players[0], Players[1]

({'name': 'John', 'score': 0, 'strategy': 'Scissors'},
 {'name': 'Mary', 'score': 1, 'strategy': 'Spock'})

In [29]:
import pandas as pd 

socialResults=pd.DataFrame((Players[0], Players[1]))
socialResults

   name  score  strategy
0  John      0  Scissors
1  Mary      1     Spock

In [30]:
filter1=socialResults.score==socialResults.score.max()
winner=socialResults[filter1]

#social outcome
winner

   name  score strategy
1  Mary      1    Spock

In [31]:
# names of players
names=['Jim','Jane','Peter','Zoe','Paul','Brigitte','Alex','Chris','Tom']

In [32]:
# list of players
society=[{'name':n,'score':0,'strategy':None} for n in names]

In [33]:
# each player a dict:
society

[{'name': 'Jim', 'score': 0, 'strategy': None},
 {'name': 'Jane', 'score': 0, 'strategy': None},
 {'name': 'Peter', 'score': 0, 'strategy': None},
 {'name': 'Zoe', 'score': 0, 'strategy': None},
 {'name': 'Paul', 'score': 0, 'strategy': None},
 {'name': 'Brigitte', 'score': 0, 'strategy': None},
 {'name': 'Alex', 'score': 0, 'strategy': None},
 {'name': 'Chris', 'score': 0, 'strategy': None},
 {'name': 'Tom', 'score': 0, 'strategy': None}]

In [34]:
import itertools 
for pair in itertools.combinations(society,2):
    print(pair)

({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Jane', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Peter', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Zoe', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Paul', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Brigitte', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Alex', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Chris', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Peter', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Zoe', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Paul', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Brigitte', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Alex', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Chris', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Peter', 'score': 0, 'strategy': None}, {'name': 'Zoe', 'score': 0, 'strategy': None})
({'name': 'Peter', 'score': 0, 'strategy': None}, {'name': 'Paul', 'score': 0, 'strategy': None})
({'name': 'Peter', 'score': 0, 'strategy': None}, {'name': 'Brigitte', 'score': 0, 'strategy': None})
({'name': 'Peter', 'score': 0, 'strategy': None}, {'name': 'Alex', 'score': 0, 'strategy': None})
({'name': 'Peter', 'score': 0, 'strategy': None}, {'name': 'Chris', 'score': 0, 'strategy': None})
({'name': 'Peter', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Zoe', 'score': 0, 'strategy': None}, {'name': 'Paul', 'score': 0, 'strategy': None})
({'name': 'Zoe', 'score': 0, 'strategy': None}, {'name': 'Brigitte', 'score': 0, 'strategy': None})
({'name': 'Zoe', 'score': 0, 'strategy': None}, {'name': 'Alex', 'score': 0, 'strategy': None})
({'name': 'Zoe', 'score': 0, 'strategy': None}, {'name': 'Chris', 'score': 0, 'strategy': None})
({'name': 'Zoe', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Paul', 'score': 0, 'strategy': None}, {'name': 'Brigitte', 'score': 0, 'strategy': None})
({'name': 'Paul', 'score': 0, 'strategy': None}, {'name': 'Alex', 'score': 0, 'strategy': None})
({'name': 'Paul', 'score': 0, 'strategy': None}, {'name': 'Chris', 'score': 0, 'strategy': None})
({'name': 'Paul', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Brigitte', 'score': 0, 'strategy': None}, {'name': 'Alex', 'score': 0, 'strategy': None})
({'name': 'Brigitte', 'score': 0, 'strategy': None}, {'name': 'Chris', 'score': 0, 'strategy': None})
({'name': 'Brigitte', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Alex', 'score': 0, 'strategy': None}, {'name': 'Chris', 'score': 0, 'strategy': None})
({'name': 'Alex', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Chris', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})

In [35]:
import itertools 
for player1,player2 in itertools.combinations(society,2):
    print(player1,player2)

{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Jane', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Peter', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Zoe', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Paul', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Brigitte', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Alex', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Chris', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Tom', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Peter', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Zoe', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Paul', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Brigitte', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Alex', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Chris', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Tom', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'Zoe', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'Paul', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'Brigitte', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'Alex', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'Chris', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'Tom', 'score': 0, 'strategy': None}
{'name': 'Zoe', 'score': 0, 'strategy': None} {'name': 'Paul', 'score': 0, 'strategy': None}
{'name': 'Zoe', 'score': 0, 'strategy': None} {'name': 'Brigitte', 'score': 0, 'strategy': None}
{'name': 'Zoe', 'score': 0, 'strategy': None} {'name': 'Alex', 'score': 0, 'strategy': None}
{'name': 'Zoe', 'score': 0, 'strategy': None} {'name': 'Chris', 'score': 0, 'strategy': None}
{'name': 'Zoe', 'score': 0, 'strategy': None} {'name': 'Tom', 'score': 0, 'strategy': None}
{'name': 'Paul', 'score': 0, 'strategy': None} {'name': 'Brigitte', 'score': 0, 'strategy': None}
{'name': 'Paul', 'score': 0, 'strategy': None} {'name': 'Alex', 'score': 0, 'strategy': None}
{'name': 'Paul', 'score': 0, 'strategy': None} {'name': 'Chris', 'score': 0, 'strategy': None}
{'name': 'Paul', 'score': 0, 'strategy': None} {'name': 'Tom', 'score': 0, 'strategy': None}
{'name': 'Brigitte', 'score': 0, 'strategy': None} {'name': 'Alex', 'score': 0, 'strategy': None}
{'name': 'Brigitte', 'score': 0, 'strategy': None} {'name': 'Chris', 'score': 0, 'strategy': None}
{'name': 'Brigitte', 'score': 0, 'strategy': None} {'name': 'Tom', 'score': 0, 'strategy': None}
{'name': 'Alex', 'score': 0, 'strategy': None} {'name': 'Chris', 'score': 0, 'strategy': None}
{'name': 'Alex', 'score': 0, 'strategy': None} {'name': 'Tom', 'score': 0, 'strategy': None}
{'name': 'Chris', 'score': 0, 'strategy': None} {'name': 'Tom', 'score': 0, 'strategy': None}

In [36]:
# chose each pair of players:

# list of players
society=[{'name':n,'score':0,'strategy':None} for n in names]


#player1,player2=sample(society,2)


for player1,player2 in itertools.combinations(society,2):
    
    player1['strategy']=choice(strategies)
    player2['strategy']=choice(strategies)
    result=payoff[player1['strategy'],player2['strategy']]
    player1['score']+=result[0]
    player2['score']+=result[1]

In [33]:
result

(1, 0)

In [37]:
society

[{'name': 'Jim', 'score': 4, 'strategy': 'Spock'},
 {'name': 'Jane', 'score': 5, 'strategy': 'Rock'},
 {'name': 'Peter', 'score': 1, 'strategy': 'Scissors'},
 {'name': 'Zoe', 'score': 2, 'strategy': 'Scissors'},
 {'name': 'Paul', 'score': 3, 'strategy': 'Spock'},
 {'name': 'Brigitte', 'score': 5, 'strategy': 'Paper'},
 {'name': 'Alex', 'score': 4, 'strategy': 'Rock'},
 {'name': 'Chris', 'score': 5, 'strategy': 'Lizard'},
 {'name': 'Tom', 'score': 3, 'strategy': 'Scissors'}]

In [38]:
socialResults=pd.DataFrame(society)
socialResults

       name  score  strategy
0       Jim      4     Spock
1      Jane      5      Rock
2     Peter      1  Scissors
3       Zoe      2  Scissors
4      Paul      3     Spock
5  Brigitte      5     Paper
6      Alex      4      Rock
7     Chris      5    Lizard
8       Tom      3  Scissors

In [39]:
filter1=socialResults.score==socialResults.score.max()
winner=socialResults[filter1]

#social outcome
winner

       name  score strategy
1      Jane      5     Rock
5  Brigitte      5    Paper
7     Chris      5   Lizard

In [40]:
filter2=socialResults.score==socialResults.score.min()
loser=socialResults[filter2]

#social outcome
loser

    name  score  strategy
2  Peter      1  Scissors