In [2]:
from IPython.display import IFrame  
wikiLink="https://en.wikipedia.org/wiki/List_of_countries_by_percentage_of_population_living_in_poverty" 
IFrame(wikiLink, width=900, height=500)

In [3]:
import pandas as pd

wikiTables=pd.read_html(wikiLink, # link
                        #header=0, # where is the header?
                        flavor='bs4', # helper to translate html
                        attrs={'class': 'wikitable sortable'}) # attributes to identify element(s)

In [4]:
wikiTables[0]

         Country < $1.90[1] < $3.20[5] < $5.50[6]    Year      Continent
0    Afghanistan        NaN        NaN        NaN     NaN           Asia
1        Albania       1.3%       8.2%      33.8%  2017.0         Europe
2        Algeria       0.4%       3.7%      28.6%  2011.0         Africa
3        Andorra        NaN        NaN        NaN     NaN         Europe
4         Angola      51.8%      73.2%      89.3%  2018.0         Africa
..           ...        ...        ...        ...     ...            ...
191    Venezuela      10.2%      17.8%      35.6%  2006.0  South America
192      Vietnam       1.9%       7.0%      23.6%  2018.0           Asia
193        Yemen      18.8%      52.2%      81.6%  2014.0           Asia
194       Zambia      57.5%      74.3%      87.2%  2015.0         Africa
195     Zimbabwe      21.4%      47.2%      74.0%  2011.0         Africa

[196 rows x 6 columns]

In [5]:
TJdata=wikiTables[0]

In [6]:
TJdata

         Country < $1.90[1] < $3.20[5] < $5.50[6]    Year      Continent
0    Afghanistan        NaN        NaN        NaN     NaN           Asia
1        Albania       1.3%       8.2%      33.8%  2017.0         Europe
2        Algeria       0.4%       3.7%      28.6%  2011.0         Africa
3        Andorra        NaN        NaN        NaN     NaN         Europe
4         Angola      51.8%      73.2%      89.3%  2018.0         Africa
..           ...        ...        ...        ...     ...            ...
191    Venezuela      10.2%      17.8%      35.6%  2006.0  South America
192      Vietnam       1.9%       7.0%      23.6%  2018.0           Asia
193        Yemen      18.8%      52.2%      81.6%  2014.0           Asia
194       Zambia      57.5%      74.3%      87.2%  2015.0         Africa
195     Zimbabwe      21.4%      47.2%      74.0%  2011.0         Africa

[196 rows x 6 columns]

In [8]:
TJdata.iloc[:,[0,3,5]]

         Country < $5.50[6]      Continent
0    Afghanistan        NaN           Asia
1        Albania      33.8%         Europe
2        Algeria      28.6%         Africa
3        Andorra        NaN         Europe
4         Angola      89.3%         Africa
..           ...        ...            ...
191    Venezuela      35.6%  South America
192      Vietnam      23.6%           Asia
193        Yemen      81.6%           Asia
194       Zambia      87.2%         Africa
195     Zimbabwe      74.0%         Africa

[196 rows x 3 columns]

In [9]:
TJdata

         Country < $1.90[1] < $3.20[5] < $5.50[6]    Year      Continent
0    Afghanistan        NaN        NaN        NaN     NaN           Asia
1        Albania       1.3%       8.2%      33.8%  2017.0         Europe
2        Algeria       0.4%       3.7%      28.6%  2011.0         Africa
3        Andorra        NaN        NaN        NaN     NaN         Europe
4         Angola      51.8%      73.2%      89.3%  2018.0         Africa
..           ...        ...        ...        ...     ...            ...
191    Venezuela      10.2%      17.8%      35.6%  2006.0  South America
192      Vietnam       1.9%       7.0%      23.6%  2018.0           Asia
193        Yemen      18.8%      52.2%      81.6%  2014.0           Asia
194       Zambia      57.5%      74.3%      87.2%  2015.0         Africa
195     Zimbabwe      21.4%      47.2%      74.0%  2011.0         Africa

[196 rows x 6 columns]

In [10]:
TJdata=TJdata.iloc[:,[0,3,5]]

In [11]:
TJdata

         Country < $5.50[6]      Continent
0    Afghanistan        NaN           Asia
1        Albania      33.8%         Europe
2        Algeria      28.6%         Africa
3        Andorra        NaN         Europe
4         Angola      89.3%         Africa
..           ...        ...            ...
191    Venezuela      35.6%  South America
192      Vietnam      23.6%           Asia
193        Yemen      81.6%           Asia
194       Zambia      87.2%         Africa
195     Zimbabwe      74.0%         Africa

[196 rows x 3 columns]

In [17]:
change={'< $5.50[6]':'lessthan5_50'}

In [18]:
TJdata.rename(columns=change,inplace=True)

/Users/tejaswinivijapurapu/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [19]:
TJdata

         Country lessthan5_50      Continent
0    Afghanistan          NaN           Asia
1        Albania        33.8%         Europe
2        Algeria        28.6%         Africa
3        Andorra          NaN         Europe
4         Angola        89.3%         Africa
..           ...          ...            ...
191    Venezuela        35.6%  South America
192      Vietnam        23.6%           Asia
193        Yemen        81.6%           Asia
194       Zambia        87.2%         Africa
195     Zimbabwe        74.0%         Africa

[196 rows x 3 columns]

In [21]:
TJdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 196 entries, 0 to 195
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       196 non-null    object
 1   lessthan5_50  164 non-null    object
 2   Continent     196 non-null    object
dtypes: object(3)
memory usage: 6.1+ KB

In [22]:
TJdata.lessthan5_50.str.replace('%','')

0       NaN
1      33.8
2      28.6
3       NaN
4      89.3
       ...
191    35.6
192    23.6
193    81.6
194    87.2
195    74.0
Name: lessthan5_50, Length: 196, dtype: object

In [23]:
TJdata['lessthan5_50']=TJdata.lessthan5_50.str.replace('%','')

<ipython-input-23-4ec947431cdb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TJdata['lessthan5_50']=TJdata.lessthan5_50.str.replace('%','')

In [24]:
TJdata

         Country lessthan5_50      Continent
0    Afghanistan          NaN           Asia
1        Albania         33.8         Europe
2        Algeria         28.6         Africa
3        Andorra          NaN         Europe
4         Angola         89.3         Africa
..           ...          ...            ...
191    Venezuela         35.6  South America
192      Vietnam         23.6           Asia
193        Yemen         81.6           Asia
194       Zambia         87.2         Africa
195     Zimbabwe         74.0         Africa

[196 rows x 3 columns]

In [25]:
TJdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 196 entries, 0 to 195
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       196 non-null    object
 1   lessthan5_50  164 non-null    object
 2   Continent     196 non-null    object
dtypes: object(3)
memory usage: 6.1+ KB

In [26]:
TJdata.lessthan5_50.astype('float')

0       NaN
1      33.8
2      28.6
3       NaN
4      89.3
       ...
191    35.6
192    23.6
193    81.6
194    87.2
195    74.0
Name: lessthan5_50, Length: 196, dtype: float64

In [27]:
TJdata['lessthan5_50']=TJdata.lessthan5_50.astype('float')

<ipython-input-27-67f70220e6e7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TJdata['lessthan5_50']=TJdata.lessthan5_50.astype('float')

In [28]:
TJdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 196 entries, 0 to 195
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       196 non-null    object
 1   lessthan5_50  164 non-null    float64
 2   Continent     196 non-null    object
dtypes: float64(1), object(2)
memory usage: 6.1+ KB

In [29]:
TJdata

         Country  lessthan5_50      Continent
0    Afghanistan           NaN           Asia
1        Albania          33.8         Europe
2        Algeria          28.6         Africa
3        Andorra           NaN         Europe
4         Angola          89.3         Africa
..           ...           ...            ...
191    Venezuela          35.6  South America
192      Vietnam          23.6           Asia
193        Yemen          81.6           Asia
194       Zambia          87.2         Africa
195     Zimbabwe          74.0         Africa

[196 rows x 3 columns]

In [30]:
TJdata.to_csv('TJdata.csv',index=False)

In [31]:
TJdata

         Country  lessthan5_50      Continent
0    Afghanistan           NaN           Asia
1        Albania          33.8         Europe
2        Algeria          28.6         Africa
3        Andorra           NaN         Europe
4         Angola          89.3         Africa
..           ...           ...            ...
191    Venezuela          35.6  South America
192      Vietnam          23.6           Asia
193        Yemen          81.6           Asia
194       Zambia          87.2         Africa
195     Zimbabwe          74.0         Africa

[196 rows x 3 columns]

In [6]:
DFTest=DF.copy() # working with a copy...

In [5]:
DF=wikiTables[0]

In [7]:
# all columns
DFTest.columns=['Country', '<$1.90[1]', '<$3.20[5]','<$5.50[6], 'Year', 'Continent']
#se changes:
DFTest.head()

SyntaxError: invalid syntax (<ipython-input-7-dfac511f46fb>, line 2)

In [8]:
# all columns
DFTest.columns=['Country', '<$1.90[1]', '<$3.20[5]','<$5.50[6],'Year','Continent']
#se changes:
DFTest.head()

SyntaxError: invalid syntax (<ipython-input-8-3de9e63a6501>, line 2)

In [9]:
# all columns
DFTest.columns=['Country', '<$1.90[1]', '<$3.20[5]','<$5.50[6]]
#se changes:
DFTest.head()

SyntaxError: EOL while scanning string literal (<ipython-input-9-71123e98b04a>, line 2)

In [10]:
# all columns
DFTest.columns=['Country', '<$1.90', '<$3.20','<$5.50, 'Year', 'Continent']
#se changes:
DFTest.head()

SyntaxError: invalid syntax (<ipython-input-10-c7c95f5a0638>, line 2)

In [11]:
# all columns
DFTest.columns=['Country', '<$1.90', '<$3.20','<$5.50', 'Year', 'Continent']
#se changes:
DFTest.head()

       Country <$1.90 <$3.20 <$5.50    Year Continent
0  Afghanistan    NaN    NaN    NaN     NaN      Asia
1      Albania   1.3%   8.2%  33.8%  2017.0    Europe
2      Algeria   0.4%   3.7%  28.6%  2011.0    Africa
3      Andorra    NaN    NaN    NaN     NaN    Europe
4       Angola  51.8%  73.2%  89.3%  2018.0    Africa

In [12]:
DFTest.columns[1::]

Index(['<$1.90', '<$3.20', '<$5.50', 'Year', 'Continent'], dtype='object')

In [13]:
dict(zip(DFTest.columns[1::], some))

NameError: name 'some' is not defined

In [14]:
DFTest=DF.copy() # recreating DFTest
some=['<$1.90', '<$3.20','<$5.50', 'Year', 'Continent']

In [15]:
dict(zip(DFTest.columns[1::], some))

{'< $1.90[1]': '<$1.90',
 '< $3.20[5]': '<$3.20',
 '< $5.50[6]': '<$5.50',
 'Year': 'Year',
 'Continent': 'Continent'}

In [16]:
DFTest.rename(columns=dict(zip(DFTest.columns[1::], some)))

         Country <$1.90 <$3.20 <$5.50    Year      Continent
0    Afghanistan    NaN    NaN    NaN     NaN           Asia
1        Albania   1.3%   8.2%  33.8%  2017.0         Europe
2        Algeria   0.4%   3.7%  28.6%  2011.0         Africa
3        Andorra    NaN    NaN    NaN     NaN         Europe
4         Angola  51.8%  73.2%  89.3%  2018.0         Africa
..           ...    ...    ...    ...     ...            ...
191    Venezuela  10.2%  17.8%  35.6%  2006.0  South America
192      Vietnam   1.9%   7.0%  23.6%  2018.0           Asia
193        Yemen  18.8%  52.2%  81.6%  2014.0           Asia
194       Zambia  57.5%  74.3%  87.2%  2015.0         Africa
195     Zimbabwe  21.4%  47.2%  74.0%  2011.0         Africa

[196 rows x 6 columns]

In [17]:
DFTest=DF.copy() # recreating DFTest
some=['<$1.90', '<$3.20','<$5.50', 'Year', 'Continent']

In [18]:
DFTest.columns[1::] # all but the first.

Index(['< $1.90[1]', '< $3.20[5]', '< $5.50[6]', 'Year', 'Continent'], dtype='object')

In [19]:
dict(zip(DFTest.columns[1::], some))

{'< $1.90[1]': '<$1.90',
 '< $3.20[5]': '<$3.20',
 '< $5.50[6]': '<$5.50',
 'Year': 'Year',
 'Continent': 'Continent'}

In [20]:
DFTest.rename(columns=dict(zip(DFTest.columns[1::], some)))

         Country <$1.90 <$3.20 <$5.50    Year      Continent
0    Afghanistan    NaN    NaN    NaN     NaN           Asia
1        Albania   1.3%   8.2%  33.8%  2017.0         Europe
2        Algeria   0.4%   3.7%  28.6%  2011.0         Africa
3        Andorra    NaN    NaN    NaN     NaN         Europe
4         Angola  51.8%  73.2%  89.3%  2018.0         Africa
..           ...    ...    ...    ...     ...            ...
191    Venezuela  10.2%  17.8%  35.6%  2006.0  South America
192      Vietnam   1.9%   7.0%  23.6%  2018.0           Asia
193        Yemen  18.8%  52.2%  81.6%  2014.0           Asia
194       Zambia  57.5%  74.3%  87.2%  2015.0         Africa
195     Zimbabwe  21.4%  47.2%  74.0%  2011.0         Africa

[196 rows x 6 columns]

In [21]:
DFTest

         Country < $1.90[1] < $3.20[5] < $5.50[6]    Year      Continent
0    Afghanistan        NaN        NaN        NaN     NaN           Asia
1        Albania       1.3%       8.2%      33.8%  2017.0         Europe
2        Algeria       0.4%       3.7%      28.6%  2011.0         Africa
3        Andorra        NaN        NaN        NaN     NaN         Europe
4         Angola      51.8%      73.2%      89.3%  2018.0         Africa
..           ...        ...        ...        ...     ...            ...
191    Venezuela      10.2%      17.8%      35.6%  2006.0  South America
192      Vietnam       1.9%       7.0%      23.6%  2018.0           Asia
193        Yemen      18.8%      52.2%      81.6%  2014.0           Asia
194       Zambia      57.5%      74.3%      87.2%  2015.0         Africa
195     Zimbabwe      21.4%      47.2%      74.0%  2011.0         Africa

[196 rows x 6 columns]

In [22]:
DFTest.rename(columns=dict(zip(DFTest.columns[1::], some)),inplace=True)

In [23]:
DFTest

         Country <$1.90 <$3.20 <$5.50    Year      Continent
0    Afghanistan    NaN    NaN    NaN     NaN           Asia
1        Albania   1.3%   8.2%  33.8%  2017.0         Europe
2        Algeria   0.4%   3.7%  28.6%  2011.0         Africa
3        Andorra    NaN    NaN    NaN     NaN         Europe
4         Angola  51.8%  73.2%  89.3%  2018.0         Africa
..           ...    ...    ...    ...     ...            ...
191    Venezuela  10.2%  17.8%  35.6%  2006.0  South America
192      Vietnam   1.9%   7.0%  23.6%  2018.0           Asia
193        Yemen  18.8%  52.2%  81.6%  2014.0           Asia
194       Zambia  57.5%  74.3%  87.2%  2015.0         Africa
195     Zimbabwe  21.4%  47.2%  74.0%  2011.0         Africa

[196 rows x 6 columns]

In [24]:
import re

In [25]:
textExample="var1 iab22 les333[4]"

In [26]:
WhenYouFind='\\s+|\\d+|\\[|\\]'
replaceWith=''

# use it:
re.sub(WhenYouFind,replaceWith,textExample)

'variables'

In [27]:
[re.sub(WhenYouFind,replaceWith,NAME) for NAME in DFTest.columns]

['Country', '<$.', '<$.', '<$.', 'Year', 'Continent']

In [28]:
[re.sub(WhenYouFind,replaceWith,NAME).lower() for NAME in DFTest.columns]

['country', '<$.', '<$.', '<$.', 'year', 'continent']

In [29]:
cleaner = lambda INPUT: re.sub(WhenYouFind,replaceWith,INPUT).lower()

In [30]:
[cleaner(TEXT) for TEXT in DF.columns]

['country', '<$.', '<$.', '<$.', 'year', 'continent']

In [31]:
DFTest=DF.copy() # recreating DFTest

# Pandas only:
DFTest.columns.str.replace(WhenYouFind,replaceWith,regex=True).str.lower()

Index(['country', '<$.', '<$.', '<$.', 'year', 'continent'], dtype='object')

In [33]:
DFTest.columns[1::].str.replace(WhenYouFind,replaceWith,regex=True).str.lower()

Index(['<$.', '<$.', '<$.', 'year', 'continent'], dtype='object')

In [34]:
# saving result :
someNewNames=DFTest.columns[1::].str.replace(WhenYouFind,replaceWith,regex=True).str.lower()
# which are:
someNewNames

Index(['<$.', '<$.', '<$.', 'year', 'continent'], dtype='object')

In [35]:
# using 'zip()':
changes=dict(zip(DF.iloc[:,1::].columns,someNewNames))
changes

{'< $1.90[1]': '<$.',
 '< $3.20[5]': '<$.',
 '< $5.50[6]': '<$.',
 'Year': 'year',
 'Continent': 'continent'}

In [36]:
DFTest.rename(columns=changes,inplace=True)

In [37]:
DFTest

         Country    <$.    <$.    <$.    year      continent
0    Afghanistan    NaN    NaN    NaN     NaN           Asia
1        Albania   1.3%   8.2%  33.8%  2017.0         Europe
2        Algeria   0.4%   3.7%  28.6%  2011.0         Africa
3        Andorra    NaN    NaN    NaN     NaN         Europe
4         Angola  51.8%  73.2%  89.3%  2018.0         Africa
..           ...    ...    ...    ...     ...            ...
191    Venezuela  10.2%  17.8%  35.6%  2006.0  South America
192      Vietnam   1.9%   7.0%  23.6%  2018.0           Asia
193        Yemen  18.8%  52.2%  81.6%  2014.0           Asia
194       Zambia  57.5%  74.3%  87.2%  2015.0         Africa
195     Zimbabwe  21.4%  47.2%  74.0%  2011.0         Africa

[196 rows x 6 columns]

In [38]:
DFTest=DF.copy() # recreating DFTest
DFTest.columns

Index(['Country', '< $1.90[1]', '< $3.20[5]', '< $5.50[6]', 'Year',
       'Continent'],
      dtype='object')

In [39]:
# split the text when you find '['
notSoBad=[TEXT.split("[") for TEXT in DFTest.columns]
# see:
notSoBad

[['Country'],
 ['< $1.90', '1]'],
 ['< $3.20', '5]'],
 ['< $5.50', '6]'],
 ['Year'],
 ['Continent']]

In [41]:
# split the text when you find '['and keep first element:
notSoBad=[TEXT.split("]")[0] for TEXT in DFTest.columns]
# see:
notSoBad

['Country', '< $1.90[1', '< $3.20[5', '< $5.50[6', 'Year', 'Continent']

In [42]:
DFTest=DF.copy() # recreating DFTest
DFTest.columns

Index(['Country', '< $1.90[1]', '< $3.20[5]', '< $5.50[6]', 'Year',
       'Continent'],
      dtype='object')

In [43]:
# split the text when you find '['
notSoBad=[TEXT.split("[") for TEXT in DFTest.columns]
# see:
notSoBad

[['Country'],
 ['< $1.90', '1]'],
 ['< $3.20', '5]'],
 ['< $5.50', '6]'],
 ['Year'],
 ['Continent']]

In [44]:
# split the text when you find '['and keep first element:
notSoBad=[TEXT.split("[")[0] for TEXT in DFTest.columns]
# see:
notSoBad

['Country', '< $1.90', '< $3.20', '< $5.50', 'Year', 'Continent']

In [45]:
#split using the blanks
goodEnough=[TEXT.split(" ") for TEXT in notSoBad]
# see:
goodEnough

[['Country'],
 ['<', '$1.90'],
 ['<', '$3.20'],
 ['<', '$5.50'],
 ['Year'],
 ['Continent']]

In [46]:
notSoBad

['Country', '< $1.90', '< $3.20', '< $5.50', 'Year', 'Continent']

In [47]:
#split using the blanks and them concatenate using "join()":
betterThanBad=["".join(TEXT.split(" ")) for TEXT in notSoBad]
# see:
betterThanBad

['Country', '<$1.90', '<$3.20', '<$5.50', 'Year', 'Continent']

In [48]:
#original:
import re
[re.sub('\d+|index|of',"",text.lower()) for text in betterThanBad]

['country', '<$.', '<$.', '<$.', 'year', 'continent']

In [3]:
betterThanBad

NameError: name 'betterThanBad' is not defined

In [51]:
DF.columns

Index(['Country', '< $1.90[1]', '< $3.20[5]', '< $5.50[6]', 'Year',
       'Continent'],
      dtype='object')

In [52]:
DF.Test

AttributeError: 'DataFrame' object has no attribute 'Test'

In [53]:
DFTest

         Country < $1.90[1] < $3.20[5] < $5.50[6]    Year      Continent
0    Afghanistan        NaN        NaN        NaN     NaN           Asia
1        Albania       1.3%       8.2%      33.8%  2017.0         Europe
2        Algeria       0.4%       3.7%      28.6%  2011.0         Africa
3        Andorra        NaN        NaN        NaN     NaN         Europe
4         Angola      51.8%      73.2%      89.3%  2018.0         Africa
..           ...        ...        ...        ...     ...            ...
191    Venezuela      10.2%      17.8%      35.6%  2006.0  South America
192      Vietnam       1.9%       7.0%      23.6%  2018.0           Asia
193        Yemen      18.8%      52.2%      81.6%  2014.0           Asia
194       Zambia      57.5%      74.3%      87.2%  2015.0         Africa
195     Zimbabwe      21.4%      47.2%      74.0%  2011.0         Africa

[196 rows x 6 columns]

In [54]:
DF.columns=[re.sub('\d+|index|of',"",text.lower()) for text in betterThanBad]

In [55]:
DFTest

         Country < $1.90[1] < $3.20[5] < $5.50[6]    Year      Continent
0    Afghanistan        NaN        NaN        NaN     NaN           Asia
1        Albania       1.3%       8.2%      33.8%  2017.0         Europe
2        Algeria       0.4%       3.7%      28.6%  2011.0         Africa
3        Andorra        NaN        NaN        NaN     NaN         Europe
4         Angola      51.8%      73.2%      89.3%  2018.0         Africa
..           ...        ...        ...        ...     ...            ...
191    Venezuela      10.2%      17.8%      35.6%  2006.0  South America
192      Vietnam       1.9%       7.0%      23.6%  2018.0           Asia
193        Yemen      18.8%      52.2%      81.6%  2014.0           Asia
194       Zambia      57.5%      74.3%      87.2%  2015.0         Africa
195     Zimbabwe      21.4%      47.2%      74.0%  2011.0         Africa

[196 rows x 6 columns]

In [56]:
DF.country[0]

'Afghanistan'

In [57]:
# no trailing nor leading spaces:
DF['country']=DF.country.str.strip()

In [58]:
byeSpaces= lambda COLUMN:COLUMN.str.strip()

DF.apply(byeSpaces)

AttributeError: Can only use .str accessor with string values!

In [60]:
DF.country.value_counts()

Brazil         1
Saint Lucia    1
Kazakhstan     1
Lithuania      1
Vanuatu        1
              ..
Gabon          1
Morocco        1
Azerbaijan     1
Thailand       1
Slovakia       1
Name: country, Length: 196, dtype: int64

In [63]:
DF.continent.value_counts()

Africa           54
Europe           46
Asia             46
North America    22
South America    13
Oceania          13
Asia, Europe      2
Name: continent, dtype: int64

In [64]:
[DF[COLUMN].value_counts().index for COLUMN in DF.iloc[:,1::]]

ValueError: Grouper for '<$.' not 1-dimensional

In [1]:
DFTest.notSoBad

NameError: name 'DFTest' is not defined

In [2]:
betterThanBad

NameError: name 'betterThanBad' is not defined